In [45]:
import pandas as pd 
df = pd.read_csv(r"C:\Users\mhdih\OneDrive\Desktop\git\solid-pancake_soccer\dataset\2021\Premier_League_Players.csv", low_memory=False)
df.head()

,No,Player,Team,Apps,Min,G,A,xG,xA,xG90,xA90
0,1,Son Heung-Min,Tottenham,35,3051,23,7,16.99-6.01,7.85+0.85,0.50,0.23
1,2,Mohamed Salah,Liverpool,35,2757,23,13,24.36+1.36,9.79-3.21,0.80,0.32
2,3,Cristiano Ronaldo,Manchester United,30,2468,18,3,17.21-0.79,4.42+1.42,0.63,0.16
3,4,Harry Kane,Tottenham,37,3229,17,9,20.69+3.69,9.82+0.82,0.58,0.27
4,5,Sadio Mané,Liverpool,34,2833,16,2,16.83+0.83,5.27+3.27,0.53,0.17

In [46]:
df.shape

(537, 11)

In [47]:
df.describe

<bound method NDFrame.describe of       No              Player                     Team  Apps   Min   G   A  \
0      1       Son Heung-Min                Tottenham    35  3051  23   7
1      2       Mohamed Salah                Liverpool    35  2757  23  13
2      3   Cristiano Ronaldo        Manchester United    30  2468  18   3
3      4          Harry Kane                Tottenham    37  3229  17   9
4      5          Sadio Mané                Liverpool    34  2833  16   2
..   ...                 ...                      ...   ...   ...  ..  ..
532  533           Chiquinho  Wolverhampton Wanderers     8   191   0   3
533  534        Josh Dasilva                Brentford     9   242   0   0
534  535     Daniel Chesters                 West Ham     1     1   0   0
535  536      Tony Springett                  Norwich     3   138   0   0
536  537  Alejandro Garnacho        Manchester United     2    11   0   0

             xG         xA  xG90  xA90
0    16.99-6.01  7.85+0.85  0.50  0.23
1    24.36+1.36  9.79-3.21  0.80  0.32
2    17.21-0.79  4.42+1.42  0.63  0.16
3    20.69+3.69  9.82+0.82  0.58  0.27
4    16.83+0.83  5.27+3.27  0.53  0.17
..          ...        ...   ...   ...
532   0.56+0.56  1.09-1.91  0.26  0.51
533   0.10+0.10  0.18+0.18  0.04  0.07
534           0          0  0.00  0.00
535   0.52+0.52  0.51+0.51  0.34  0.34
536           0          0  0.00  0.00

[537 rows x 11 columns]>

In [48]:
df.isnull().sum()

No        0
Player    0
Team      0
Apps      0
Min       0
G         0
A         0
xG        0
xA        0
xG90      0
xA90      0
dtype: int64

In [49]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 537 entries, 0 to 536
Data columns (total 11 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   No      537 non-null    int64
 1   Player  537 non-null    object
 2   Team    537 non-null    object
 3   Apps    537 non-null    int64
 4   Min     537 non-null    int64
 5   G       537 non-null    int64
 6   A       537 non-null    int64
 7   xG      537 non-null    object
 8   xA      537 non-null    object
 9   xG90    537 non-null    float64
 10  xA90    537 non-null    float64
dtypes: float64(2), int64(5), object(4)
memory usage: 46.3+ KB

In [50]:
df = df.drop(columns=["No"])

In [51]:
df['xG'] = pd.to_numeric(df['xG'], errors='coerce')
df['xA'] = pd.to_numeric(df['xA'], errors='coerce')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 537 entries, 0 to 536
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Player  537 non-null    object
 1   Team    537 non-null    object
 2   Apps    537 non-null    int64
 3   Min     537 non-null    int64
 4   G       537 non-null    int64
 5   A       537 non-null    int64
 6   xG      95 non-null     float64
 7   xA      102 non-null    float64
 8   xG90    537 non-null    float64
 9   xA90    537 non-null    float64
dtypes: float64(4), int64(4), object(2)
memory usage: 42.1+ KB

In [52]:
df.describe()

,Apps,Min,G,A,xG,xA,xG90,xA90
count,537.000000,537.000000,537.000000,537.000000,95.000000,102.000000,537.000000,537.000000
mean,19.525140,1399.392924,1.931099,1.383613,0.063158,0.009804,0.151080,0.106164
std,11.643965,1025.156979,3.278847,2.049288,0.351608,0.099015,0.348329,0.401948
min,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,9.000000,410.000000,0.000000,0.000000,0.000000,0.000000,0.010000,0.010000
50%,21.000000,1356.000000,1.000000,1.000000,0.000000,0.000000,0.060000,0.060000
75%,30.000000,2211.000000,2.000000,2.000000,0.000000,0.000000,0.190000,0.140000
max,38.000000,3420.000000,23.000000,13.000000,2.000000,1.000000,6.310000,8.940000

In [53]:
df['Player']

0           Son Heung-Min
1           Mohamed Salah
2       Cristiano Ronaldo
3              Harry Kane
4              Sadio Mané
              ...
532             Chiquinho
533          Josh Dasilva
534       Daniel Chesters
535        Tony Springett
536    Alejandro Garnacho
Name: Player, Length: 537, dtype: object